[registration]
listen = "127.0.0.1"
port = 6400
allow = "127.0.0.1"  # comma separated allowed registrable IP
[/registration]

[query]
listen = "127.0.0.1"
port = 6401
allow = "127.0.0.1"  # comma separated allowed registrable IP
[/query]

[limits]
max_clients = 10000
client_name_min_size = 8
client_name_max_size = 256
[/limits]
